//Clinijunior page
.clinijunior{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.clinijunior__title{
  font-size: 1.777777em;
  font-family: Quicksand-SemiBold, sans-serif;
  margin-bottom: 1em;
}
.clinijunior:first-of-type{
  margin-bottom: 4em;
}
.clinijunior:nth-child(2){
  margin-bottom: 3em;
}
.clinijunior__img{
  border-radius: 10px;
  width: 100%;
}