$yellow : #FFCA3A;
$light-yellow : rgba(255, 202, 58, 0.30) ;
$blue : #1982C4;

$cliniorange : #EE8941;
$clinigreen : #B2CC51;
$clinipurple : #CF6299;
$cliniblue : #97CCD2;

$servRed : #FF595E;
$servBlue : #1982C4;
$servPurple : #895EC5;
$servGreen : #8AC926;