@import "colors";
/*  Media queries  */
@media (min-width: 1024px){
  //header
  .header__nav-links{
    margin-right: 1em;
  }
  .header__nav-burger{
    display: none;
  }
  .header__nav-svg{
    width: 18em;
  }
  .header__nav-list{
    display: flex;
    column-gap: 2em;
  }
  .header__nav-item{
    position: relative;
  }
  .header__nav-sublist{
    position: absolute;
    z-index: 10;
    left: -10%;
    background-color: white;
    border: 2px solid rgb(137, 194, 205);
    border-radius: 5px;
    display: none;
    transition: all 200ms linear;
  }
  .header__nav-subitem{
    text-align: center;
    padding: 1em 2em;
  }
  .header__nav-menuitem:hover .header__nav-sublist{
    display: block;
  }

  .header__nav-subitem:hover .header__nav-sublink{
    color: white;
  }

  .header__nav-subitem:nth-child(2n+1):hover{
    background-color: $cliniorange;
  }
  .header__nav-subitem:nth-child(2n):hover{
    background-color: $clinipurple;
  }
  .header__nav-subitem:nth-child(3n):hover{
    background-color: $clinigreen;
  }
  .header__nav-subitem:nth-child(4n):hover{
    background-color: $cliniblue;
  }

  .header__nav-word:after{
    content: "C";
    font-family: ElegantIcons;
    font-size: 0.7em;
    margin-left: 0.5em;
  }


  //Home page
  .onboarding__texts{
    max-width: 50%;
  }
  .onboarding__img{
    width: 40%;
  }
  .news__texts{
    width: 60%;
  }
  .news__img{
    order: -1;
    width: 25%;
    margin-right: 3em;
  }
  .testimony__card{
    width: 25%;
  }

  //about
  .about__texts{
    max-width: 50%;
  }
  .about__img{
    width: 40%;
  }

  //cliniclown
  .cliniclown__texts{
    max-width: 50%;
  }
  .cliniclown__img{
    width: 40%;
  }

  //clinisnoez
  .clinisnoez__texts{
    max-width: 50%;
  }
  .clinisnoez__img{
    width: 40%;
  }

  //clinitalent
  .clinitalent__texts{
    max-width: 50%;
  }
  .clinitalent__img{
    width: 35%;
  }
  .clinitalent:nth-child(2n) .clinitalent__img{
    order: -1;
  }

  //clinijunior
  .clinijunior__texts{
    max-width: 50%;
  }
  .clinijunior:nth-child(2) .clinijunior__img{
    order: -1;
  }
  .clinijunior__img{
    width: 40%;
  }

  //product
  .products__info-texts{
    max-width: 50%;
  }
  .products__info-img{
    width: 35%;
  }

  //volunteers
  .volunteers__texts{
    max-width: 50%;
  }
  .volunteers__img{
    width: 40%;
  }

  //contact page
  .contact__form{
    min-width: 50%;
  }
  .field:first-of-type{
    margin-right: 1em;
  }
}

@media (max-width: 1024px) {
  //burgermenu
  .header__nav-svg{
    width: 80%;
  }
  .header__nav-homelink{
    width: 12em;
    height: 3em;
  }
  .header__nav-links{
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    background-color: white;
    display: none;
  }
  .header__nav-word{
    display: none;
  }
  .header__nav-burger{
    cursor: pointer;
    z-index: 100;
  }
  .header__nav-buregerline{
    width: 2em;
    height: 2px;
    background-color: black;
  }
  .header__nav-buregerline+.header__nav-buregerline{
    margin-top: 0.5em;
  }
  .header__nav-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  .header__nav-item:not(.header__nav-item:last-of-type){
    padding-bottom: 0.5em;
  }
  .header__nav-item+.header__nav-item{
    padding-top: 0.5em;
    border-top: 1px solid lightgrey;
  }
  .header__nav-subitem{
    padding-bottom: 0.5em;
  }
  .header__nav-subitem+.header__nav-subitem{
    padding-top: 0.5em;
    border-top: 1px solid lightgrey;
  }
  .header__nav-sublist{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  // burger js class
  .toggle-line2{
    display: none;
    transition: all 200ms linear;
  }
  .toggle-line1{
    transform: rotate(45deg);
    transition: all 200ms linear;
  }
  .toggle-line3{
    transform: translateY(-10px) rotate(-45deg);
    transition: all 200ms linear;
  }
  .menu-toggle{
    display: block;
    left: 0;
    transition: left 200ms linear;
  }
  .no-main{
    display: none;
  }

  //Home page
  .onboarding{
    flex-direction: column;
  }
  .onboarding__img{
    margin-top: 2em;
  }
  .news__img{
    width: 100%;
  }
  .news__container{
    flex-direction: column;
  }
  .testimony__cards{
    flex-direction: column;
  }

  //about
  .about{
    flex-direction: column;
  }
  .about__img{
    margin-top: 2em;
  }
  .services__container{
    grid-template-columns: 1fr;
  }

  //cliniclown
  .cliniclown{
    flex-direction: column;
  }
  .cliniclown__img{
    order: 2;
    margin-top: 2em;
  }
  //clinisnoez
  .clinisnoez{
    flex-direction: column;
  }
  .clinisnoez__img{
    margin-top: 1em;
  }
  //clinitalent
  .clinitalent{
    flex-direction: column;
  }
  .clinitalent__img{
    margin: 1em 0 2em;
  }

  //clinijunior
  .clinijunior{
    flex-direction: column;
  }
  .clinijunior__img{
    margin-top: 1em;
  }

  //products
  .products__info-container{
    flex-direction: column;
  }
  .products__info-img{
    margin-top: 1em;
  }


  //volunteers
  .volunteers__container{
    flex-direction: column;
  }
  .volunteers__img{
    margin-top: 1em;
  }

  //donation
  .donation__container{
    grid-template-columns: 1fr;
  }

  //contact
  .field:first-of-type{
    margin-right: 0;
  }
  .shop__img{
    width: 100%;
  }
  .shop__info{
    margin-left: 0;
  }
  .shop__container{
    flex-direction: column;
  }
}
@media (max-width: 500px){
  //about
  .sponsor__container{
    justify-content: center;
  }
  .sponsor__img{
    max-width: 100%;
  }

  //contact
  .contact__fields{
    grid-template-columns: 1fr;
  }

  //products
  .products__container{
    flex-direction: column;
  }
  .product__card+.product__card{
    margin-left: 0;
    margin-top: 1em;
  }

  //footer
  .footer{
    flex-direction: column;
  }
}