//testimony Card
.testimony__card{
  padding: 1em 2em;
  background-color: rgba(137, 194, 205, 0.30);
  border-radius: 1em;
}
.testimony__card-title{
  font-family: Quicksand-Bold, sans-serif;
  margin-bottom: 0.5em;
}